@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	h3 {
		@apply text-2xl text-orange-300;
	}
}

h3 {
	margin-top: 1rem;
	&:before {
		content: '>>> ';
	}
}

input {
	color: black;
}

.active {
	color: rgb(255, 213, 0);
}

